body{
    margin: 0px;
    background-image: url(bgheading.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#heading {
   background-image: url(bgheading.jpg);
    /* background-color: midnightblue;  */
color: mintcream;
height: 15vh;
font-size:300%;

}
#logo{
    height: 100px;
    width: 100px;
   position:absolute;
   left: 1vh;
}
h1{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0px;
}



#cs{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 100px;
}







#Mars{
    height: 11vh;
    width: 11vh;
   position: absolute;
   right: 1vh;
   top: 2vh;
   
}
#Mars:hover{
    box-shadow: 0px 0px 20px  rgb(255, 141, 65);
    border-radius: 70%;
}


#Moon{
    height: 11vh;
    width: 11vh;
   position: absolute;
   right: 13vh;
   top: 2vh;
}

#Moon:hover{
    box-shadow: 0px 0px 10px  rgb(252, 252, 252);
    border-radius: 50%;
}
